.descr-restaurant-list {
  border: 2px solid #ffe066;
  padding: 20px 20px 20px 20px;
  margin-bottom: 50px;
  background-color: #fff5e6;
}

h3 {
  color: red;
}

.Header-Row {
  
}

.img {
  display: block;
  margin: 50px auto;
  width: 50%;
  opacity: 0.6;
}
